* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.container {
  width: 400px;
  /* height: 400px; */
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 10px 10px 10px black;
  overflow: hidden;
}

.container h1 {
  text-align: center;
}

.container .inputBox {
  text-align: center;
  margin: 50px 0;
}

.container .inputBox input {
  all: unset;
  height: 48px;
  padding: 4px 8px;
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
}

.container .inputBox button {
  all: unset;
  padding: 12px 24px;
  background-color: cadetblue;
  border-radius: 8px;
  font-size: 24px;
  color: white;
}

.userData {
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoItems {
  display: flex;
  align-items: center;
  gap: 52px;
  margin-bottom: 16px;
}

.todoItems button {
  all: unset;
  padding: 8px 16px;
  background-color: orangered;
  border-radius: 8px;
  color: white;
}

.userData li {
  list-style: none;
  font-size: 30px;
}
